<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{$smarty.const.SITE_TYPE|capitalize}</title>
  <meta name="title" content="Bithub: Colored Coins for Coders">
  <meta name="description" content="Bithub: Colored Coins for Coders">
  <meta name="author" content="ZCOR">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/static/font-awesome-4.3.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/custom.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>

