{include file="header.html"}
<div class='container'>
	<br/><br/>
  <div class='row'>
  	<div class='twelve columns centered'>
		<img src='/images/logo.png' width='150' height='150' >
		<h1>BitHub</h1>
		<h3>Colored Coins for Coders</h3>
	</div>
  </div>
  <div class='row homeinput'>
  	<div class="four columns centered">
		<i class="fa fa-bitcoin fa-5x"></i><br/>
		Mint a coin for your repo.
	</div>

	<div class="four columns centered">
		<i class="fa fa-flash fa-5x"></i><br/>
		Automatically reward contributors.
	</div>
  	<div class="four columns centered">
		<i class="fa fa-smile-o fa-5x"></i><br/>
		Bring color to coding projects
	</div>
    </div>
    <div class='row homeinput'>
	<div class='six columns centered'>

		Repository Access:
		<select id='permission' style='background-color: #777;'>
		    <option value="repo">All</option>
		    <option value="public_repo" selected = "selected">Public Only</option>
		</select>
{literal}
<script>
$( "#permission" )
  .change(function () {
    var str = "";
    $( "select option:selected" ).each(function() {
      str += "https://github.com/login/oauth/authorize?client_id={/literal}{$smarty.const.GITHUB_CLIENTID}{literal}&redirect_uri={/literal}{$github_redirect|escape:'url'}{literal}&scope=user:email," + $( this ).val() + ",read:org";
    });
    $( "#login-button" ).attr("href", str );
  })
  .change();
</script>
{/literal}
	</div>
	<div class='six columns centered'>
		<a id='login-button' class="button button-primary" href="https://github.com/login/oauth/authorize?client_id={$smarty.const.GITHUB_CLIENTID}&redirect_uri={$github_redirect|escape:'url'}&scope=user:email,public_repo,read:org">
			<i style='color: #FFF;' class="fa fa-github fa-3x"></i> <span>Login with GitHub</span>
		</a>
	</div>

	<br/><br/>
    </form>
  </div>
</div>
<hr class='main'>
<div class='container featured'>
  <div class='row'>
  	<div class='twelve columns centered'>
  		<h2>Featured Projects</h2>
  		<h3>Click to view coin details</h3>
	</div>
  </div>
  <div class='row'>
  	{foreach from=$featured item="g"}
  	<div class='three columns centered'>
		{if $g.public}<a href='/mint/{$g.name}' style='text-decoration: none;'>{/if}
		<img src='{$g.icon_url}' class='u-max-full-width'><br/>
		{if !$g.public}<i class='fa fa-lock'></i>{/if}
		({$g.contributors} contributor{if $g.contributors == 1}{else}s{/if})	
		{$g.name}
		{if $g.public}</a>{else}{/if} <a href='http://github.com/{$g.name}' target='_blank'><i class='fa fa-github'></i></a>
	</div>
	{/foreach}
  </div>
 </div>
 <hr class='main'/>
 <div class='container faq'>

   <div class='row'>
  	<div class='twelve columns centered'>
  		<h2>About Bithub</h2>
	</div>
  </div>
 
  <hr class='sub'/>
  <div class='row'>
  	<div class='four columns'><strong>What is Bithub?</strong></div>
	<div class='eight columns'>Bithub is a fun way to reward contributions to a repository.</div>
  </div>
  <hr class='sub'/>
  <div class='row'>
  	<div class='four columns'><strong>What is a Colored Coin?</strong></div>
		<div class='eight columns'>We use a cool protocol called <a target = '_blank' href='http://blog.coloredcoins.org/blog/2015/5/6/the-great-use-cases-index-of-coloredcoins'>Colored Coins</a>.  This protocol earmarks BTC with special attributes in the header, so your project coin is written to the blockchain.	
	</div>		
  </div>
  <hr class='sub'/>
  <div class='row'>
  	<div class='four columns'><strong>How does it work?</strong></div>
	<div class='eight columns'>Login using your Github account and fund your account with any amount of BTC you like.  We convert this into a colored coin representing your project.
	<br/><br/>
	For 30 days, we review your project's commit history.  Every contributor earns a proportional share of your project coin, which they can claim at Bithub.</div>
  </div>
<hr class='sub'/>
  <div class='row'>
  	<div class='four columns'><strong>How do you calculate project contributions?</strong></div>
	<div class='eight columns'>We're open to suggestions.  For the time being, we're keeping it simple.  Every day, we divide 1/30 of your project coin evenly among anybody who commits.  There's many more interesting ways to calculate this, enough that it's been <a href='http://www.dmst.aueb.gr/dds/pubs/conf/2009-MCIS-Quality/html/KGSP09.htm' target='_blank'>the subject of academic research</a>.
	</div>
  </div>
<hr class='sub'/>
  <div class='row'>
  	<div class='four columns'><strong>Is this for real?</strong></div>
	<div class='eight columns'>We eat our own dog food.  Bithub is the <a href='/mint/gerrithall/bithub'>first project</a> listed on our site.  Join us, improve our source code, and you'll automatically receive our Bithub project coin!
	</div>
  </div>
</div>
<hr class='main'/>
<div class='container apis'>
   <div class='row centered'>
	  <h2>Hacked together from these great APIs</h2>
   </div>
   <div class='row centered'>
	<div class='four columns centered'>
		<a target='_blank' href='http://coinprism.com/'><img src='https://pbs.twimg.com/profile_images/437231293533655040/ul_G4smn_400x400.png' class='u-max-full-width'></a>
	</div>
	<div class='four columns centered'>
		<a target='_blank' href='http://btc.blockr.io/'><img src='https://pbs.twimg.com/profile_images/454758137107468288/ll8TSd0Y.png' class='u-max-full-width'></a>
	</div>
	<div class='four columns centered'>
		<a target='_blank' href='http://blockcypher.com/'><img src='https://pbs.twimg.com/profile_images/548271308794900480/ogHR7ALk_400x400.png' class='u-max-full-width'></a>
	</div>

</div>
</div>

{include file="footer.html"}
