{include file="header.html"}
{include file="page-header.html"}
<div class='container'>
  <div class='row'>
  	<div class='twelve columns centered'>
		<h1>{$project_name}</h1>
		{if $repo.status == 4}
		<div style='background-color: #FFF; color: #212121; padding: 5px; border: 1px solid #FF9800;'>
		Bithub incentives your teams' code commits by organizing project-based coins.<br/>
		Every day, 1/30 of the project coin will be earned evenly among everybody who commits to the repository.  <br/>If you would like to earn this coin, <a href='http://github.com/{$project_name}' target='_blank' style='color: #FF9800;'>please contact the repo owner</a> for details.</div><Br/>
		{else}
		<h2 class='light-blue'>Mint Your Coin</h2>
		{/if}


		<a href='http://github.com/{$project_name}' target='_blank'><i class='fa fa-github'></i> {$project_name}</a>

		
	</div>
  </div>
   <div class='row'>
   {if $repo.status == 4}
 	<div class='twelve columns centered'>
		Coin minted on {$date_minted} with {$deposit} BTC<br/>
		<a href='https://coinprism.info/tx/{$asset_hash}' target='_blank'>{$asset_hash}</a> &bull; 
		<a href='http://{$smarty.const.DOMAIN}/a/{$project_name}' target='_blank'>JSON Definition</a>

		<br/><br/>
		<strong>Top Earners:</strong>
		<center>
		<table class='commits'>

		{if $share}
			{foreach from=$share item="g" key="k"}
			<tr><td>{$k}</td><td>{$g}%</td></tr>
			{/foreach}
		{else}
			<tr><td><strong>Nobody 

			   	<span class='failure'><i class='fa fa-frown-o fa-2x'></i></span>
			</strong>
			<br/><br/>There have been no commits detected since the coin was minted.  {if $last_commit}The last detected commit was {$last_commit}.{/if}
			
			</td></tr>
		{/if}
		</table>
		
		</center>
		<hr>

		<center><strong>History</strong>
		<table class='commits' width='100%'>
	 	  <tr>
		  	<th></th>
		{foreach from=$contributors item="g" key="k"}
			<th>{$k}</th>
		{/foreach}
		  </tr>
		{foreach from=$cal item="g" key="k"}
		  <tr {if $k eq $today}class='today'{/if}>
			<td>{$k}</td>
			{foreach from=$contributors item="g2" key="k2"}
			<td>
			   {if $g.$k2 >0}
			  	<span class='success'><i class='fa fa-smile-o fa-2x'></i></span>
			   {else}
			   	<span class='failure'><i class='fa fa-frown-o fa-2x'></i></span>
			   {/if}
			</td>
			{/foreach}
		  </tr>
		{/foreach}
	</table></center>
	</div>
   {elseif $repo.status == 3}
   	<div class='twelve columns centered'>
	Transaction Confirmed!  Minting your coin.
	</div>
   {elseif $hash}
   	<div class='twelve columns centered'>
	Transaction detected... {$status} confirmation{if $status != 1}s{/if} detected (6 necessary).
	<br/><br/>
	<a href='http://btc.blockr.io/tx/info/{$hash}' target='_blank'>Blockchain : {$hash}</a>
	</div>

   {else}
  	<div class='lightblue-bg four columns centered'>
		<h2 class='orange'>1.</h2>
		Send at least 0.01 BTC to <span style='font-size: 12px; font-weight; bold;'>{$btc_address}</span> <br/>
		<img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={$btc_address}" />
	</div>
   	<div class='lightblue-bg four columns centered'>
		<h2 class='orange'>2.</h2>
		We'll create a colored coin especially for your project.<br/>
		<img src='http://gobithub.com/images/logo.png' width='200' height='200'>
	</div>
	<div class='lightblue-bg four columns centered'>
		<h2 class='orange'>3.</h2>
		This coin will automatically be to contributors next 30 days.
		<img src='http://gobithub.com/images/logo.png' width='200' height='200'>
	</div>
	{/if}

  </div>
  

{include file="footer.html"}
