<div class='u-full-width head'>
	<table width='100%'><tr><td> &nbsp; </td><td style='text-align: left;'>
		&nbsp; &nbsp; <a href='/' class='logo'>Bithub</a>
	</td>
		<td style='text-align: right;'>
{if $smarty.session.user.github_login}
		<a href='http://github.com/{$smarty.session.user.github_login}' target='_blank' style='text-decoration: none;'>
			<img src='{$smarty.session.user.avatar_url}' width='32' height='32'> 
			<strong>{$smarty.session.user.github_login}</strong>
		</a>
		<span style='font-size: 10px; margin-left: 5px;'><a href='/logout'>Logout</a> </span>
{else}
		<a href='/'>Login</a>
{/if}		
		
		</td>
		<td> &nbsp; </td>
	</table>
</div>


