{include file="header.html"}
<div class='container'>
	<br/><br/>
  <div class='row'>
  	<div class='twelve columns centered'>
		<img src='/images/logo.png' width='150' height='150' >
		<h1>BitHub</h1>
		<h3>Colored Coins for Coders</h3>
	</div>
  </div>
 <div class='container faq'>
	Bithub is a fun way to reward contributions to a repository, made possible by the unique properties of Bitcoin.  Since Bitcoin is open and transparent, we are able to "color" some amount of Bitcoin as belonging to your project, and reward it to contributors in this manner.  Here's a few important notes to keep in mind as agreement for using our service:
	<ol>
		<li>
			<strong>Bithub does not have any ownership of your code repository.</strong> Github's API requires we authenticate with write access, but we do not use it.  Our interest in Github is tracking project commits once you've funded a repo, and emailing you status updates if you've funded your repo.
		</li>
		<li>
			<strong>Bithub does not have any ownership of your funds.</strong>  If you mint a color coin, this coin remains entirely in your custody.  You agree to give Bithub access to distribute the coin to project contributors under certain conditions, but at no point is Bithub considered to be a custodian of user funds.
		</li>
		<li>
			<strong>You won't use Bithub for anything illegal.</strong>  You agree not to use Bithub for human trafficking, electioneering, treason, sedition, randoms, security-based swaps, embezzlement, forgery, counterfeiting, cyberbullying, phishing, doxing, crimes of passion, or acts of terror.
		</li>
		<li>
			<strong>Bithub is a work in progress.</strong>  We're a simple <a href='/mint/gerrithall/bithub'>open-source project</a>, growing with the community.  Bithub is not liable for anything that goes wrong.
		</li>
	</ol>
	</div>
</div>

{include file="footer.html"}
