<div style="color: #212121;">--Bithub: Colored Coins for Colors</div>
<div style="color: #111;"><a href="http://{$smarty.const.SITE_URL}" style='color: #0288D1; border: 0pt none; text-decoration: none;'>http://gobithub.com/</a></div>
<div style="color: #111;"><a href="http://twitter.com/gobithub" style='color: #0288D1; border: 0pt none; text-decoration: none;'><img width="16" height="16" src="{$smarty.const.SITE_URL}/images/twitter.png"> @GoBithub</a></div>
<br/><span style="font-size: 10px; font-style: italic;">Never want to get an email from us again?  Click this link: <a href="{$donotemail}">{$donotemail}</a> or just email us and ask to unsubscribe.</span>
</body></html>
