<html>
<head>
{literal}
<style type="text/css">
<!--
body,td{font-family:trebuchet ms,verdana,helvetica,sans-serif}
a{color:#6E1E17}
body{background-color:e6d6b8}
body,td{color:#111111}
-->
</style>
<style type="text/css">
<!--
body,td{font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a{color:#FF9800}
body{background-color:#B3E5FC}
body,td{color:#212121}
-->
</style>
{/literal}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
<body>
<div style="color: #212121; text-align: center;">
	<img src='http://gobithub.com/images/favicon.png' width='200' height='200' alt="Bithub"/><br/>
	<strong style='font-size: 24px; font-weight: bold;'>BitHub</strong><br/>
	<span style='font-size: 18px; color: #FF9800'>Colored Coins for Coders</span>
</div>

